<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oltrust Laptops</title>
    <link rel="stylesheet" href="../stylesheets/laptops.css"> >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    

</head>
<body>

    <a href="/laptops/tnc">post a new</a>

    <div class = "row" id = "card">
    <% laptops.forEach(function(laptops){ %>
                <div class="col-md-3 col-sm-6 card" style="width: 18rem;">
                    <div class = "thumbnail">
                        <img
                        src="https://mdbootstrap.com/img/new/standard/city/062.jpg"
                        class="card-img-top"
                        alt="..."
                        id = laptop-img
                        />
                    </div>
                        <div class="card-body">
                        <h5 class="card-title"><%= laptops.model %></h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the
                            card's content.
                        </p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><%= laptops.processor %> <%= laptops.generation %></li>
                            <li class="list-group-item"><%= laptops.ram %></li>
                            <li class="list-group-item"><%= laptops.storage %></li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                </div>
    <%  }); %> 
</div>


 
    
 


  
</body>
</html>

<%= laptops.model %>
<%= laptops.storage %>
<%= laptops.ram %>
<%= laptops.price %>


<% laptops.forEach(function(laptops){ %>
    <div>
        
    </div>
<%  }); %> 